.song {
    z-index: 1000;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    padding: 2px;
    background-color: rgb(248, 2, 2);
    cursor: pointer;
}