
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



.navbar{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16%;
    background-color: #000000;
    &__main {
        margin-left: 30px;
        padding: 40px 30px 0 0;
    }
}

.logo{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 38px;
    display: flex;
    align-items: center;
    &__link {
        margin-left: 5px;
        font-size: 26px;
        font-weight: 600;
    }
}

.items > li:last-child {
    padding-bottom: 12px;
    border-bottom: 1px solid #282828;
}

